@font-face {
    font-family: "Helvetica Neue LT";
    src: url('fonts/NeueHaasDisplayLight.ttf') format('truetype'),
         url('fonts/NeueHaasDisplayLight.otf') format('opentype');
}

@font-face {
    font-family: "TextaBook";
    src: url('fonts/TextaBook.ttf') format('truetype');
}

@font-face {
    font-family: "TextaBold";
    src: url('fonts/TextaBold.ttf') format('truetype');
}


body{
    background-color:#0F0F0F;
}

a {
    text-decoration: none;
}

br {
    user-select: none;
}

.navbar-nav a {
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: White
}

.navbar-nav a:hover {
    color: #fc6e0d;
}

.opcoes-conta {
    color: White;
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 30px;
}

.opcoes-conta a {
    color: White;
}


.opcoes-conta:hover, .opcoes-conta a:hover {
    color: #fc6e0d;
}

.offcanvas {
    background-color: #0F0F0F;
    padding: 0px;
}

.offcanvas-header {
    background-color: #fc6e0d;
}

.offcanvas-body p{
    color: White;
}

.offcanvas-body p:hover {
    color: #fc6e0d;
}

.modal {
    --bs-modal-inner-border-radius: 0px;
    --bs-border-radius-lg: 0px;
}

.modal-content{
    background-color: #0F0F0F;
}

.modal-header {
    background-color:#fc6e0d;
}

.modal-header h1 {
    font-family: "Helvetica Neue LT", Helvetica;
    font-weight: bold;
}

.btn-close {
    opacity: 100%;
}

.sair {
    color: White;
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: Red;
}

.sair:hover {
    color: Red !important;
}

.conta {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 50px;
}

#conta {
    height: 40px;
    margin-top: 20px;
}

#icon-conta {
    width: 40px;
    height: 40px;
}

.nome-conta {
    font-size: 22px;
    margin-right: 10px;
    margin-top: 3px;
    font-family: "Helvetica Neue LT", Helvetica;
    color: #fc6e0d;
}


#container-formulario {
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#coluna {
    padding: 5px 0px 5px 10px;
}

#nav li {
    margin: 10px;
    color: White;
    cursor: pointer;
}

#nav a {
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 20px;
    font-weight: normal !important;
}

#nav span{
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 20px;
}

#nav li:hover {
    color:#fc6e0d;
}

#perfil {
    background-color: #eb7425;
    margin-bottom: 50px;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-left: 50px;
}

#topo {
    background-color: Black;
}

#perfil h1 {
    font-family: "Helvetica Neue LT", Helvetica;
    color: White;
    font-weight: bold;
}

.perfil-descricao p{
    font-family: "TextaBook", Helvetica;
    font-size: 20px;
    text-align: justify;
}

.polaroid {
    background: #eee;
    border: 1px solid #fff;
    padding: 5px 5px 20px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.perfil-descricao {
    text-align: start;
}

.mensagem-erro {
    color: Red;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: "Helvetica Neue LT", Helvetica;
    font-weight: 600;
}

.form-control:focus {
  border-color:  #fc6e0d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.formulario input {
    text-align: center;
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 20px;
    border-radius: 0px;
}

.border-primary-subtle {
    border-color: #fc6e0d !important;
}

.btn-success {
    font-size: 20px;
    font-family: "Helvetica Neue LT", Helvetica;
    border-radius: 0px;
}

.form-text {
    color: White;
    font-size: 20px;
    font-family: "Helvetica Neue LT", Helvetica;
}

.cadastrar {
    color: White;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #fc6e0d;
    font-family: "Helvetica Neue LT", Helvetica;
}

.cadastrar:hover {
    color: #fc6e0d;
}

.rodape{
    top: 1;
    bottom: 0;
    position: fixed;
    background-color: Black;
    width: 100%;
    color: White;
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
}

.rodape span{
    font-size: 20px;
    font-family: "Helvetica Neue LT", Helvetica;
}