@media(max-width: 900px) {
    .nome-conta {
        display: none;
    }
}

@media(max-width: 768px) {   
    .logo {
        display: none;
    }
    #header {
        margin-right: 0px;
        margin-left: 0px;
    }
    #text-intro1 {
        margin-top: 30px;
    }
}

@media(min-width: 768px) {
    .logo {
        margin-left: 50px;
    }
    #text-intro1 {
        padding-top: 100px;
    }
}

@media(max-width: 991px){
    #imagem-wolf {
        width: 300px;
        height: 300px;
        margin-bottom: 70px;
    }
    .container-intro2 {
        padding-bottom: 20px;
    }
}

@media(min-width: 991px){
    .container-intro2 {
        padding-bottom: 50px;
    }
}

@media(max-width: 1400px){

    #imagem-wolf {
        width: 500px;
        height: 500px;
    }   
    #imagem-intro {
        text-align: start;
        margin-top: 50px
    }
}

@media(min-width: 1400px){
    #imagem-wolf {
        display: inline;
        width: 620px;
        height: 620px;
    }
    #imagem-intro {
        text-align: end;
    } 
}

@font-face {
    font-family: "Helvetica Neue LT";
    src: url('fonts/NeueHaasDisplayLight.ttf') format('truetype'),
         url('fonts/NeueHaasDisplayLight.otf') format('opentype');
    font-display:block;
}

@font-face {
    font-family: "TextaBook";
    src: url('fonts/TextaBook.ttf') format('truetype');
    font-display:block;
}

@font-face {
    font-family: "TextaBold";
    src: url('fonts/TextaBold.ttf') format('truetype');
    font-display: block;
}

body{
    background-color:#0F0F0F;
    overflow-x: hidden;
}

header {
    background-color: Black;
    height: 80px;
}

a {
    text-decoration: none;
}

br {
    user-select: none;
}

.navbar-toggler {
    color: White;
    font-size: 50px;
}

.navbar-collapse {
    background-color: Black;
    padding-left: 10px;
    margin-top: 10px;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.perfil {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    color: White;
    font-family: "Helvetica Neue LT", Helvetica;
    margin-top: 15px;
    margin-right: 20px;
}

.perfil h6 {
    font-size: 22px;
    margin-top: 15px;
    margin-right:10px;
}

.perfil a {
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 16px;
    color: White;
}

.perfil a:hover {
    color: #fc6e0d;
}
.sair {
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 16px;
    background-color: transparent;
    border-color:transparent;
    color: White;
    border: 0px;
    padding: 0px;
}

.sair:hover {
    color: Red !important;
}


.navbar-nav {
    --bs-nav-link-hover-color: #fc6e0d;
}

.navbar-nav a {
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: White
}

.navbar-nav a:hover {
    color: #fc6e0d;
}

.conta-autenticado button, li {
    font-family: "Helvetica Neue LT", Helvetica;
}

.conta-autenticado button {
    color:#fc6e0d;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
}

.conta-autenticado button:hover {
    background-color: transparent;
    color:#fc6e0d;
    border-color: transparent;
}

.conta-autenticado button:focus {
    background-color: transparent;
    color:#fc6e0d;
    border-color: transparent;
}

.conta-autenticado button:active {
    --bs-btn-active-bg: transparent;
    background-color: transparent;
    color:#fc6e0d;
    border-color: transparent;
}

.btn {
    --bs-btn-border-width: 0px;
}

.btn-dark {
    --bs-btn-active-bg: transparent;
}

.dropdown-menu{
    background-color: black;
    --bs-dropdown-border-radius: 5px;
}

.dropdown-item:hover{
    background-color: transparent;
    color:#fc6e0d;
}

.dropdown-item {
    color: White;
}

.conta {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 50px;
}

#conta {
    height: 40px;
    margin-top: 20px;
}

#icon-conta {
    width: 40px;
    height: 40px;
}

#container-intro {
    width: 100%;
    background-color: #eb7425;
    margin-bottom: 50px;
}

.container-intro2 {
    border-bottom-style: solid;
    border-color: #fc6e0d;
    border-width: 1px;
}

#conteudo-intro {
    background-image: url("img/foto-intro.jpg");
    background-size:cover;
}

#text-intro1 span {
    color: white;
    font-family: "Helvetica Neue LT", Helvetica;
    font-weight: 600;
    font-size: 70px;
}

#text-intro1 p {
    color: Black;
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 25px;
    text-align: start;
}

#text-intro2 {
    padding-top: 40px;
}

#text-intro2 span {
    color: white;
    font-family: "Helvetica Neue LT", Helvetica;
    font-weight: 600;
    font-size: 70px;
}

#text-intro2 p {
    color: Black;
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 25px;
    text-align: start;
}

.btn-primary {
    float: left;
    background-color:rgb(24, 24, 24);
    border-color: transparent;
    --bs-btn-active-bg:rgb(24, 24, 24);
    --bs-btn-hover-bg:rgb(24, 24, 24);
    font-size: 30px;
    border-radius: 0px;
    margin-bottom: 40px;
    font-family: "Helvetica Neue LT", Helvetica;
}

.btn-primary:hover {
    background-color:rgb(24, 24, 24);
    border-color: transparent;
    color:  #fc6e0d;
}

.btn-primary:focus {
    color:  #fc6e0d;
}

.conteudo-media {
    margin-top: 20px;
    margin-bottom: 40px;
}

.imagem img{
    max-width: 300px;
    margin: 10px;
}

.imagem img:hover {
    transform: scale(130%) rotate(1.5deg);
}

.img-thumbnail {
    border-radius: 0px;
    padding: 5px 5px 30px 5px;
    width: 300px;
    background-color: rgb(238, 238, 238);
}

.titulo {
    margin-top: 20px;
    font-family: "Helvetica Neue LT", Helvetica;
    padding: 10px 0px 5px 0px;
}

.titulo h1 {
    margin-bottom: 0px;
    color: White;
    font-weight: bold;
}

.rodape{
    top: 1;
    bottom: 0;
    position: fixed;
    background-color: Black;
    width: 100%;
    color: White;
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
}

.creditos {
    float: right;
    color: White;
    font-family: "Helvetica Neue LT", Helvetica;
    padding-right: 10px;
    padding-top: 3px;
}

.creditos-nome {
    padding: 0px 0px 3px 0px; 
    font-size: 16px; 
    color: White;
    text-decoration-line: underline;
    text-decoration-color: #fc6e0d;
}

.creditos-nome:hover {
    color:#fc6e0d !important;
}

.popover-body {
    width: 225px;
}

.rodape span{
    font-size: 20px;
    font-family: "Helvetica Neue LT", Helvetica;
}