@font-face {
    src: url("../../css/fonts/TextaBook.ttf") format("truetype");
    font-family: "TextaBook";
    font-display: block;
}

@font-face {
    src: url("../../css/fonts/TextaBold.ttf") format("truetype");
    font-family: "TextaBold";
    font-display: block;
}

body{
    background-color:#edf0fb;
}

a {
    text-decoration: none;
}

br {
    user-select: none;
}

input, select {
    border-radius: 0px !important; 
}

label {
    font-family: "TextaBook", Helvetica;
}

.navbar-toggler span {
    color: Black;
    font-size: 50px !important;
}

.navbar-nav a {
    font-family: "TextaBold", Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: White
}

.navbar-nav a:hover {
    color: #fc6e0d;
}

.opcoes-conta {
    color: White;
    font-family: "Helvetica Neue LT", Helvetica;
    font-size: 30px;
}

.opcoes-conta a {
    color: White;
}

#opcoes {
    margin-bottom: 60px;
}

.btn-secondary {
    font-family: "TextaBold", Helvetica;
    color: #EDF0FB;
    background-color: #252D3A;
}

.btn-danger {
    border-radius: 0px;
    font-family: "TextaBold", Helvetica;
}

.midias {
    border-bottom-style: solid;
    border-width: 2px;
    border-color:#252D3A;
    margin-bottom: 20px;
    h5 {
        font-family: "TextaBold", Helvetica;
    }
}

.opcoes-conta:hover, .opcoes-conta a:hover {
    color: #fc6e0d;
}

.sair {
    font-family: "TextaBook", Helvetica;
    font-size: 20px;
    background-color: transparent;
    border-color:transparent;
    color: White;
    border: 0px;
    padding: 0px;
}

.sair:hover {
    color: Red !important;
}

#nav {
    padding: 0px 50px 0px 50px;
}

#nav li {
    margin: 10px;
    color: White;
    cursor: pointer;
}

#nav span{
    font-family: "TextaBook", Helvetica;
    color: White;
    font-size: 20px;
}

#nav span:hover {
    color:#fc6e0d;
}

#perfil {
    margin-bottom: 20px;
}

#topo {
    background-color: #252D3A;
}

.perfil {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    color: White;
    font-family: "TextaBook", Helvetica;
    margin-top: 15px;
    margin-right: 20px;
}

.perfil h6 {
    font-size: 25px;
    margin-top: 10px;
    margin-right:10px;
}

.alert-danger {
    font-family: "TextaBold", Helvetica;
    font-size: 17px;
}

.form-control:focus, .form-select:focus {
  border-color:  #fc6e0d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.form-check-input:checked {
    background-color:#fc6e0d;
    border-color: transparent;
}

.border-primary-subtle {
    border-color: #fc6e0d !important;
}

.btn-success {
    font-size: 20px;
    font-family: "TextaBook", Helvetica;
    border-radius: 0px;
}

.btn-primary {
    font-size: 20px;
    font-family: "TextaBook", Helvetica;
    border-radius: 0px;
    background-color: #252d3a;
    --bs-btn-active-bg: #242d3a;
    --bs-btn-active-color: #fc6e0d;
    --bs-btn-active-border-color: transparent;
    --bs-btn-focus-shadow-rgb: transparent;
    border-color: transparent;
}

.btn-primary:hover {
    color:#fc6e0d;
    background-color: #252d3a;
    border-color: transparent;
}

.btn-primary:focus {
    color:#fc6e0d;
    background-color: #252d3a;
    border-color: transparent;
    
}

.form-text {
    color: White;
    font-size: 20px;
    font-family: "Helvetica Neue LT", Helvetica;
}

.midias-content h1{
    font-family: "TextaBook", Helvetica;
}

.dropdown-menu {
    --bs-dropdown-bg: #252D3A;
    --bs-dropdown-border-radius: 0px;
}

.dropdown-item:hover {
    background-color: transparent;
}

#minhas-builds {
    font-size: 30px;
    font-family: "TextaBook", Helvetica;
}

.pagination {
    --bs-pagination-active-bg: #252D3A;
    --bs-pagination-active-border-color: transparent;
    --bs-pagination-disabled-bg: transparent;
    --bs-pagination-disabled-border-color: transparent;
    --bs-pagination-focus-box-shadow: transparent;
}

.page-link {
    background-color: transparent;
    color: #252D3A;
    border-color: transparent;
    font-size: 20px;
    &:hover {
        border-color: transparent;
        background-color: #252D3A;
        color: #fc6e0d;
    }
}

.page-item {
    border-color: transparent;
}

.rodape{
    top: 1;
    bottom: 0;
    position: fixed;
    background-color: #E9E9F2;
    width: 100%;
    color: black;
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
}

.rodape span{
    font-size: 20px;
    font-family: "TextaBook", Helvetica;
}